.main-footer {
    color: white;
    background-color: #52307c;
    padding-top: 3em;
    position: sticky;
    bottom: 0px;
    width: 100%;
    margin-top: 50px;
    display:flex;
    flex-direction:column;
  }