.themeChanger {
    cursor: pointer;
    color: #7000da;
    width: 40px;
    margin-top: 0px;
}

.theNavItems {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 5px black;
}

.theNav {
    margin-top: 5px;
    width: 100%;
    background-color: rgb(65, 65, 65);
    font-size: 20px;
    height: 80px;
    position: fixed;
    z-index: 1;
}

.userInfo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 5px black;
}