
.submitButt {
    float: right;
    color: #7000da;
    background-color: #333;
    border-color: #333;
}

.blackTextShouldBeVisible {
    font-weight: 500;
    font-size: 18px;
    background-color: #7000da;
    border-color: black;
}

.AcessPT {
    margin: auto;
    width: 90%;
}

.productivityComponent {
    margin-top: 130px;
    margin-bottom: 40px;
}

.manual {
    font-weight: 600;
    font-size: 20px;
    margin-left: 1.5%;
    width: 47%;
    margin-bottom: 40px;
    float: left;
}

.counter {
    font-weight: 600;
    font-size: 20px;
    margin-right: 1.5%;
    width: 47%;
    margin-bottom: 40px;
    float: right;
}

/* -------------- THIS ALL IS JUST THE PROGRESS TRACKER TEXT ka ANIMATION AND STUFF -------------------*/
h1.rainbow-text-PT {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 11.3em;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    margin-top: auto;
    align-items: center;
}
  
  /* Style the rainbow text element. */
.rainbow-text-PT {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #7000da;
    background-color: #7000da;
    background: conic-gradient(
      #A7489B 16.666%, 
      #7000da 16.666%, 
      #7000da 33.333%, 
      #476098 33.333%, 
      #476098 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #F18F43 66.666%, 
      #F18F43 83.333%, 
      #CA4246 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-PT-animation-rev 1.3s ease forwards;
    cursor: pointer;
}
  
  /* Add animation on hover. */
.rainbow-text-PT:hover {
    animation: rainbow-text-PT-animation 1.3s ease forwards;
}
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
@keyframes rainbow-text-PT-animation {
    0% {
        background-size: 57%;
        background-position: 0 0;
    }
    20% {
        background-size: 57%;
        background-position: 0 1.5em;
    }
    100% {
        background-size: 300%;
        background-position: -18em 1.5em;
    }
}
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-PT-animation-rev {
    0% {
        background-size: 300%;
        background-position: -18em 1.5em;
    }
    20% {
        background-size: 57%;
        background-position: 0 1.5em;
    }
    100% {
        background-size: 57%;
        background-position: 0 0;
    }
}
  /* ----------------------  THE PROGRESS TRACKER TEXT ka ANIMATION ends here -------------------*/