.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #7000da;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #7000da ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }

  @keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(17) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.justForUpperBorder {
    margin-top: 130px;
    overflow: hidden;
}

h1.col{
    /* text-shadow: 1px 1px 2px #52307c; */
    color: #7000da;
    font-style: italic;
}

h2{
    color: #7000da;
}


.align-items-stretch {
    text-align: justify;
    text-justify: inter-character;
    display: flex;
}


.align-items-stretch:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

h1.rainbow-text-SC {
    font-style: italic;
    width: 7em;
    line-height: 1.3em;
    margin-bottom: 15px;
    align-items: center;
}
  
  /* Style the rainbow text element. */
.rainbow-text-SC {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #7000da;
    background-color: #7000da;
    background: conic-gradient(
      #A7489B 16.666%, 
      #7000da 16.666%, 
      #7000da 33.333%, 
      #476098 33.333%, 
      #476098 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #F18F43 66.666%, 
      #F18F43 83.333%, 
      #CA4246 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-SC-animation-rev 1.3s ease forwards;
    cursor: pointer;
}
  
  /* Add animation on hover. */
.rainbow-text-SC:hover {
    animation: rainbow-text-SC-animation 1.3s ease forwards;
}
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
@keyframes rainbow-text-SC-animation {
    0% {
        background-size: 57%;
        background-position: 1.5em 0;
    }
    20% {
        background-size: 57%;
        background-position: 1.5em 1.5em;
    }
    100% {
        background-size: 300%;
        background-position: -11.3em 1.5em;
    }
}
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-SC-animation-rev {
    0% {
        background-size: 300%;
        background-position: -11.3em 1.5em;
    }
    20% {
        background-size: 57%;
        background-position: 1.5em 1.5em;
    }
    100% {
        background-size: 57%;
        background-position: 1.5em 0;
    }
}