.submitUserInfo {
    width: 100%;
    margin-top: 10px;
}

.theNavButtons {
    cursor: pointer;
    text-shadow: 1px 1px 5px black;
}

.theNavItems {
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 5px black;
}

.theNav {
    margin-top: 5px;
    width: 100%;
    /* background-color: rgb(65, 65, 65); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    font-size: 20px;
    height: 80px;
    position: fixed;
    z-index: 1;
    margin: 0; 
    /* padding-top: 50px; */
    top:0 
}

.userInfo {
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 5px black;
}