.cardForTodos {
    width: 100%;
    padding: 10px;
    background-color: #9f69d1;
    border-color: black;
}

.inputLabelsTodo {
    color: #9f69d1;
    font-size: 21px;
    font-weight: 700;
    text-shadow: 1px 2px 2px black;
}

.addTaskButt {
    color: #9f69d1;
    background-color: #333;
    margin: auto;
    font-size: 22px;
    font-weight: 600;
    width: 120px;
}

.addTask .modal-header {
    color: black;
    background-color: #9f69d1;
}

.addTask .modal-body {
    background-color: #333;
    color: white;
    width: 100%;
}

.addTask .modal-footer {
    background-color: #333;
    color: #bbbbbb;
}

.todoButt {
    background-color: #333;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
    width: 60px;
}

.todoButt:hover {
    color: black;
    cursor: pointer;
    animation: todoRot infinite 20s linear;
}

.todoShowButt:hover {
    cursor: pointer;
    animation: todoRot infinite 20s linear;
}

@keyframes todoRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.todoCardTitle {
    font-size: 25px;
    font-weight: 700;
}

.todoAlert {
    background-color: #333;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 2px white;
}

.todoAlert:hover {
    cursor: pointer;
}

.todosHolder {
    width: 50%;
    float: right;
    margin-right: 40px;
    margin-top: 10vw;
    margin-bottom: 50px;
}

.todoComponent {
    margin-top: 130px;
}

.todoFormalityText {
    font-size: 35px;
    color: white;
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Sofia", sans-serif;
}

.todosDesc {
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-left: 50px;
}

.rainbow-text-TD {
    float: left;
    font-style: italic;
    font-variant: small-caps;
    font-family: "Sofia", sans-serif;
    font-weight: 800;
    font-size: 9em;
    width: 3.2em;
    line-height: 0.9em;
}


.rainbow-text-TD span span {
    position: relative;
    animation: move-text-color 0.75s forwards;
    opacity: 0;
}

.rainbow-text-TD:hover span span {
    cursor: pointer;
    position: relative;
    animation: move-text-color-rev infinite 1.8s linear;
    opacity: 0;
}

@keyframes move-text-color {
    0% {
        bottom: -0.2em;
        opacity: 0.3;
        color: #00ff37;
    }
    50% {
        bottom: 0.2em;
        opacity: 0.5;
        color: #05cdff;
    }
    100% {
        bottom: 0;
        opacity: 1;
        color: #8400ff;
    }
    
}

@keyframes move-text-color-rev {
    75% {
        bottom: -0.2em;
        opacity: 1;
        color: #05cdff;
    }
    100% {
        bottom: 0;
        opacity: 1;
        color: #8400ff;
    }
    50% {
        bottom: 0em;
        opacity: 1;
        color: #00ff37;
    }
    25% {
        bottom: 0.2em;
        opacity: 1;
        color: #05cdff;
    }
    0% {
        bottom: 0;
        opacity: 1;
        color: #8400ff;
    }
}
